<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->

  </head>
  <body>
    <%- include('partials/_header') %>

    <section>

      <div class="menu-items  card-deck">
          <% for (let item of items) { %>

            <div class="card">
              <img class="card-img-top" src="<%=item.image%>" alt="">
              <div class="card-body">
                <h5 class="card-title"><%=item.name%></h5>
                <p class="card-text"><%=item.description%></p>
                <label><b>$<%=item.price%></b></label>
              </div>
            </div>

            <% } %>

          </div>

  </section>
  <footer>
    <p class="name-text">Designed By: Shakirat, Ruchika, Gurpreet<br>
      <a href="mailto:hege@example.com">hege@example.com</a></p>

  </footer>
  </body>
</html>
