<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Place your order</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>

    <section class="myorder-section">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><h4><b>Order No.</b></h4></th>
            <th scope="col"><h4><b>Items Ordered</b></h4></th>
            <th scope="col"><h4><b>Total Price</b></h4></th>
            <th scope="col"><h4><b>Order Date</b></h4></th>
            <th scope="col"><h4><b>Order Time</b></h4></th>
            <th scope="col"><h4><b>Picked At</b></h4></th>
            <th scope="col"><h4><b>Feedback</b></h4></th>

          </tr>
        </thead>
        <tbody>

          <% for(let item of items) { %>
            <tr class="table-items">
              <th scope="row"><%= item.id %></th>
              <td>
                <% for( let x of item["details"]) { %>
                <h4><%=x["name"]%> - <%=x["quantity"]%> no.</h4>
                <%}%>

            </td>
              <td>$ <%=item.total_price%></td>
              <td> <%=item.order_date.toLocaleString().slice(0,-13)%></td>
              <td> <%=item.order_time%></td>
              <% if (item.picked_at) {%>
              <td> <%=item.picked_at%></td>
              <% } else { %>
                <td style = "Color:rgb(255, 60, 0)"> In-Progress</td>
                <%}%>
              <% if (!item.picked_at) {%>
                <td style = "Color:rgb(255, 60, 0)"></td>
                <%} else if (item.rating) {%>
                <td> <%=item.rating%></td>
              <% } else { %>
              <td><form method = "GET" action="/myorders/<%=item.id%>">
              <button type="submit" value = "feedback" class="btn btn-lg btn-outline-warning">Give Feedback </button>
              </form></td>
              <%}%>

            </tr>
          <% } %>
        </tbody>
      </table>

  </section>
  </body>
</html>
