<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Place your order</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/new.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>

<form method="GET" class="place-order" action="/placeorder">
  <button type="submit" value = "Place order" class="btn btn-lg btn-outline-primary"> Place order </button>

</form>

    <section class="order-section">
      <table class="table table-borderless">
        <thead>
          <!-- <tr class="header-items"> -->
            <tr>
            <th scope="col"><h4><b>Item image</b></h4></th>
            <th scope="col"><h4><b>Item Name</b></h4></th>
            <th scope="col"><h4><b>Price</b></h4></th>
            <th scope="col"><h4><b>Quantity</b></h4></th>
            <th scope="col"><h4><b>Cart</b></h4></th>
          </tr>
        </thead>
        <tbody>

          <% for(let item of items) { %>
            <tr class="table-items">
              <th scope="row"><img src ='<%=item.image%>'></th>
              <!-- <td><img src ='<%=item.image%>'></td> -->
              <td><b><%= item.name %></b></td>
              <td>$<%= item.price %></td>
              <form class = "spl1" method="POST" action="/orders/<%= item.id %>">
              <td><select required name="quantity" >
                <option value>select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

              </select>    </td>

              <td>
                <button type="submit" class="cart-button btn btn-lg btn-outline-primary" value = "Add to Cart">Add to Order</button>
              </td>
            </form>
            </tr>
          <% } %>
        </tbody>
      </table>

  </section>

  <footer class="footer mt-5 py-3 bg-primary text-white" id="order-footer">
    <div class="container">
      <span class="text-white">Designed By: Shakirat, Ruchika, Gurpreet</span>

    </div>
  </footer>
  </body>
</html>
