<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Place your order</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/order.js"></script> -->
  </head>
  <body>
    <%- include('partials/_header') %>

<br><br><br><br><br><br>
<h2>User Reviews</h2>
    <section class="order-section">
      <table class="order-table">
        <thead>
          <tr>
            <th scope="col"><h4><b>Order No.</b></h4></th>
            <th scope="col"><h4><b>Customer Name</b></h4></th>
            <th scope="col"><h4><b>Mobile number</b></h4></th>
            <th scope="col"><h4><b>Rating</b></h4></th>
            <th scope="col"><h4><b>Feedback</b></h4></th>

          </tr>
        </thead>
        <tbody>

          <% for(let item of items) { %>
            <tr class="table-items">
              <td><b><%= item.order_id %></b></td>
              <td><%=item.first_name%> <%=item.last_name%> </td>
              <td> <%=item.mobile_number%></td>
              <td> <%=item.rating%></td>
              <td> <%=item.feedback%></td>

            </tr>
          <% } %>
        </tbody>
      </table>



  </section>

  </body>
</html>
