<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Place your order</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/order.js"></script> -->
  </head>
  <body>
    <%- include('partials/_header') %>
<br><br>
<br>
<br>

    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><h4><b>Item image</b></h4></th>
            <th scope="col"><h4><b>Item Name</b></h4></th>
            <th scope="col"><h4><b>Price</b></h4></th>
            <th scope="col"><h4><b>Quantity</b></h4></th>
            <th scope="col"><h4><b>Total Price</b></h4></th>

          </tr>
        </thead>
        <tbody>

          <% for(let item of items) { %>
            <tr>
              <td><img src ='<%=item.image%>' style = "width:150px; height:150px"></td>
              <td><b><%= item.name %></b></td>
              <td><%= item.price %></td>
              <td> <%=item.quantity%></td>
              <td> <%=item.quantity * item.price%></td>


            </tr>
          <% } %>
        </tbody>
      </table>
      <label> Total order value = <%=total%></label>

      <form method="POST" action="/placeorder/done">
        <input type="text" name = "total" hidden value = "<%=total%>" >
        <input type="submit" value = "Book order" style = "font-weight: bold; font-size: 20px "></form>

      </form>

  </section>
  </body>
</html>
